.sidebar-nav {
  position: fixed;
  top: 50%;
  right: 20px;
  list-style: none;
  z-index: 1;
  transform: translateY(-50%);
  ul {
    list-style-type: none;
    position: fixed;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
  }

  li {
    display: flex;
    align-items: center;
  }
}

.sidebar-nav li {
  margin-bottom: 10px;
}

.sidebar-nav a.active {
  background-color: #000;
  color: #000;
}

.nav-button {
  width: 15px;
  height: 15px;
  background-color: white;
  border-radius: 50%;
  margin: 5px;
  transition: all 0.3s ease;
  position: relative;
}

.nav-button.selected {
  transform: scale(1.5);
  background-color: black;
}

.nav-button:hover:before {
  opacity: 0.2;
}
